<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Home Page</h2>
<hr>
<div>
    <p>
        Hello :<span sec:authentication="principal.username"></span>
        Role :<span sec:authentication="principal.authorities"></span>
    </p>
</div>
<form action="#" th:action="@{/logout}" method="post">
    <button type="submit">Log Out</button>
</form>
</body>
</html>