<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="@{/list}" th:methode="get">
    <input th:text="username">
    <button type="submit" th:text="Submit"></button>
</form>





<!--<form th:action="@{/list}" th:object="${todo}" th:methode="get">-->
<!--  Test <input type="text" th:field="*{task}">-->
<!--    <br>-->
<!--  <button type="submit" th:text="Submit"></button>-->
<!--</form>-->
</body>
</html>